@use 'constants';

.work-area-container {
  background: constants.$work-area-container-background;

  &__page {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    &__button{
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 0 20px;

      & button{
        min-width: 30px;
        margin-left: 5px;
      }
    }
    &__wrapper {
      width: max-content;
      position: relative;

      & img {
        max-width: calc(100% - 40px);
        padding: 0 20px;

      }

      & .annotations-wrapper {
        position: absolute;
        left: 0;
        top: 0;

      }
    }

  }
}